
<!-- about.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="content">
        <h1>About</h1>
        <p>This is a simple blog application built with Spring Framework. The blog features:</p>
        <ul>
            <li>User authentication</li>
            <li>Post management (create, update, delete)</li>
            <li>Comment system with moderation</li>
            <li>Tag cloud</li>
            <li>Recent comments listing</li>
        </ul>
        <p>This blog was created as a demonstration of Spring Framework capabilities including:</p>
        <ul>
            <li>Spring Core (IoC, DI)</li>
            <li>Spring Data JPA</li>
            <li>Spring MVC</li>
            <li>Thymeleaf templating</li>
        </ul>
    </div>
</div>
</body>
</html>