<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 text-center">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-header bg-danger text-white">
            <h3>Error Occurred</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">Something went wrong!</h5>
            <p class="card-text">We're sorry, but an error occurred during your request.</p>
<!--            <p th:if="${errorMessage}" th:text="${errorMessage}"></p>-->
<!--            <a th:href="@{/registration/list}" class="btn btn-primary">Go to Home Page</a>-->
        </div>
    </div>
</div>
</body>
</html>